$colormain: #172f73;
$colorback: #c4c8da;
$gray: #d3d3d3;

$circle-width: 0.08em;
$bg-color: #f5f5f5;

body {
  font-family: "EB Garamond", serif;
  letter-spacing: 1px;
  width: 21cm;
  height: 29.7cm;
  margin-left: auto;
  margin-right: auto;
}

header {
  background: lighten($colorback, 8%);
  text-align: center;
  display: flex;
  justify-content: space-between;
  #headerleft {
    font-weight: bold;
    font-size: 1.2rem;
    color: lighten($colormain, 5%);
    width: 25%;
    position: relative;
    padding: 1rem;
    #photo {
      background-image: url("../assets/jonas_profil.jpg");
      background-size: cover;
      height: 15rem;
    }
    #headerleftbottom {
      display: flex;
      justify-content: space-between;
      .iconinfo {
        display: flex;
        align-items: center;
        i {
          padding-right: 0.5rem;
        }
      }
    }
    &:after {
      content: "";
      height: 60%;
      position: absolute;
      background: $colormain;
      bottom: 0;
      right: -50px;
      height: 30%;
      width: 2px;
      top: 20%;
    }
  }
  #headinfo {
    padding: 0 1rem 0 1rem;
    width: 50%;
    h1 {
      color: $colormain;
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    h2 {
      color: $colormain;
      font-size: 2rem;
    }
    p {
      color: lighten($colormain, 20%);
      padding-top: 1rem;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
  #headerright {
    font-weight: bold;
    font-size: 1.2rem;
    color: lighten($colormain, 5%);
    width: 25%;
    padding-top: 2rem;
    padding-right: 1rem;
    position: relative;
    p {
      &:after {
        border-bottom: 2px solid $colormain;
        content: "";
        display: block;
        width: 2rem;
        margin: 0 auto;
        padding-top: 1rem;
      }
    }
    a {
      text-decoration: none;
      color: lighten($colormain, 5%);
      &:hover {
        color: lighten($colormain, 30%);
      }
    }
    &:after {
      content: "";
      height: 60%;
      position: absolute;
      background: $colormain;
      bottom: 0;
      left: -50px;
      height: 30%;
      width: 2px;
      top: 20%;
    }
  }
}

#experiences {
  background-color: lighten($colorback, 16%);
  padding: 2rem;
  h2 {
    margin-top: -0.5rem;
    margin-bottom: 0;
    color: $colormain;
    font-size: 2rem;
    &:after {
      content: "";
      display: block;
      padding-top: 0.2rem;
      width: 4rem;
      border-bottom: 3px solid $colormain;
    }
  }
  ul {
    li {
      list-style-type: circle;
      font-weight: bold;
      font-size: 1.2rem;
      color: lighten($colormain, 20%);
      margin-bottom: 0.5rem;
      i {
        font-size: 1.5rem;
        color: $colormain;
        margin-left: 1rem;
      }
    }
  }
}

#formation {
  background-color: lighten($colorback, 12%);
  padding: 2rem;
  h2 {
    margin-top: -0.5rem;
    margin-bottom: 0;
    color: $colormain;
    font-size: 2rem;
    &:after {
      content: "";
      display: block;
      padding-top: 0.2rem;
      width: 4rem;
      border-bottom: 3px solid $colormain;
    }
  }
  ul {
    li {
      font-weight: bold;
      font-size: 1.2rem;
      color: lighten($colormain, 20%);
      margin-bottom: 0.5rem;
      i {
        font-size: 1.5rem;
        color: $colormain;
        margin-left: 1rem;
      }
    }
  }
}

#competences {
  background-color: lighten($colorback, 15%);
  padding: 2rem;
  h2 {
    margin-top: -0.5rem;
    margin-bottom: 0;
    color: $colormain;
    font-size: 2rem;
    &:after {
      content: "";
      display: block;
      padding-top: 0.2rem;
      width: 4rem;
      border-bottom: 3px solid $colormain;
    }
  }
  #skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .skills {
      width: 20rem;
      h3 {
        font-weight: bold;
        font-size: 1.3rem;
        color: lighten($colormain, 10%);
        margin-bottom: 0;
      }
      .skillbar {
        border: 3px solid $colormain;
        width: 18rem;
        height: 20px;
        overflow: hidden;
        margin: 0.5rem 0 0.5rem 0;
        #skillbarinone {
          width: 75%;
          height: 20px;
          background: lighten($colormain, 40%);
        }
        #skillbarintwo {
          width: 60%;
          height: 20px;
          background: lighten($colormain, 40%);
        }
        #skillbarinthree {
          width: 40%;
          height: 20px;
          background: lighten($colormain, 40%);
        }
        #skillbarinfour {
          width: 30%;
          height: 20px;
          background: lighten($colormain, 40%);
        }
      }
      p {
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
        color: $colormain;
        margin-bottom: 0.5rem;
      }
      .skillicon {
        width: 18rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          font-size: 2rem;
          color: lighten($colormain, 10%);
        }
        #skillother {
          width: 100%;
          #wcag {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.5rem;
          }
          #owasp {
            display: flex;
            justify-content: space-between;
            align-items: center;
            i {
              position: relative;
              right: 1.3px;
            }
          }
        }
      }
    }
  }
}

#perks {
  background-color: lighten($colorback, 11%);
  padding: 2rem;
  h2 {
    margin-top: -0.5rem;
    margin-bottom: 0;
    color: $colormain;
    font-size: 2rem;
    &:after {
      content: "";
      display: block;
      padding-top: 0.2rem;
      width: 4rem;
      border-bottom: 3px solid $colormain;
    }
  }
  h3 {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: lighten($colormain, 10%);
  }
  p {
    font-weight: bold;
    font-size: 1rem;
    color: lighten($colormain, 20%);
  }
}

// Circle

.container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.container .card {
  position: relative;
  width: 230px;
  background: lighten($colorback, 2%);
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  height: 180px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
}

.percent {
  position: relative;
  height: 95px;
  border-radius: 50%;
  z-index: 1000;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.text {
  position: relative;
  margin-top: 20px;
  margin-bottom: -1rem;
  padding: 0 5px 0 5px;
}

svg {
  position: relative;
  width: 90px;
  height: 100px;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: $colormain;
  transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 250;
}

.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(250 - (250 * 98) / 100);
  stroke-dashoffset: -webkit-calc(250 - (250 * 98) / 100);
  stroke-dashoffset: -moz-calc(250 - (250 * 98) / 100);
  stroke-dashoffset: 5;
  stroke: lighten($colormain, 40%);
}

.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(250 - (250 * 95) / 100);
  stroke-dashoffset: -webkit-calc(250 - (250 * 95) / 100);
  stroke-dashoffset: -moz-calc(250 - (250 * 95) / 100);
  stroke-dashoffset: 12.5;
  stroke: lighten($colormain, 40%);
}

.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(250 - (250 * 3) / 100);
  stroke-dashoffset: -webkit-calc(250 - (250 * 3) / 100);
  stroke-dashoffset: -moz-calc(250 - (250 * 3) / 100);
  stroke-dashoffset: 242.5;
  stroke: lighten($colormain, 40%);
}

h4 {
  color: $colormain;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0;
  position: relative;
  &:after {
    border-bottom: 2px solid $colormain;
    content: "";
    display: block;
    width: 2rem;
    margin: 0 auto;
    padding-top: 0.3rem;
  }
}

footer {
  background: $colorback;
  text-align: center;
  #contact {
    padding: 2rem;
    a {
      color: $colormain;
      font-size: 2rem;
      font-weight: bold;
      text-decoration: none;
    }
    & :hover {
      color: lighten($colormain, 20%);
    }
  }
}
